[workspace]
resolver = "3"
members = ["api", "common", "services/auth", "services/payment"]

[profile.release]
opt-level = 3
lto = "thin"
codegen-units = 1
strip = true
overflow-checks = false
panic = "abort"


[profile.release-with-debug]
inherits = "release"
debug = true
strip = false
